<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>List view item</title>
  </head>
  <body>

    <div class="box">
      <h1 id="heading"><%= whichDay %> Todo List</h1>
    </div>

    <div class="box">
      <% for (let index = 0; index < newListItems.length; index++) { const
      element = newListItems[index]; if (element !== '') { %>
      <div class="item">
        <input type="checkbox" id="" />
        <p><%= element %></p>
      </div>

      <% } %> <% } %>

      <form action="/" method="post">
        <input
          type="text"
          name="newItem"
          placeholder="New item"
          autocomplete="off"
        />
        <button type="submit">+</button>
      </form>
    </div>
  </body>
</html>
